<% content_for :header do %>
  <section class="hero is-warning">
    <div class="hero-body">
      <div class="container">
        <h1 class="title">
          Browse the latest Products on ShopingStore
        </h1>
      </div>
    </div>
  </section>
<% end %>

<h1 class="current-category"><%= params[:category] %></h1>

<% if @products.count == 0 %>

  <h1>There are no books currently in this category</h1>

<% else %>

<div class="product-index-grid pt4">
  <% @products.each do |product| %>

    <div class="product border-light">
      <div class="product-thumb">
        <%= image_tag(product.image, size: '200x250',class: "product-show") if product.image.attached?%>

      </div>


      <div class="pa3">

        <h3 class="fw7 f4 title"><%= link_to product.name, product %></h3>

        <p class="f3 fw6 has-text-right pt2 price"><%= number_to_currency(product.price) %></p>

        <%= link_to 'show', product , class: "button is-small" %>


      </div>
    </div>
  <% end %>
</div>
<% end %>